<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }} | {{ site_config:site_name }}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,700;1,400&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
        {{ partial:blocks/seo }}
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#b6934c">
        <meta name="msapplication-TileColor" content="#b6934c">
        <meta name="theme-color" content="#b6934c">
        <meta name="facebook-domain-verification" content="8r1y2rt58b6kqop0el3szp3vnk7ltl" />
        <!-- Meta Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s)
            {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window, document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '450449819990490');
            fbq('track', 'PageView');
        </script>
        <noscript><img height="1" width="1" style="display:none"
            src="https://www.facebook.com/tr?id=450449819990490&ev=PageView&noscript=1"
        /></noscript>
        <!-- End Meta Pixel Code -->
    </head>
    <body class="bg-background bg-opacity-20 font-sans leading-normal text-txtcolor">
        <div class="w-[96%] xl:container mx-auto my-2 md:my-4 xl:my-8 flex flex-col items-center justify-center bg-container rounded shadow">
            {{ partial:blocks/header }}
            <div class="w-full px-4 xl:px-12">
                {{ builder }}
                    {{ partial src="builder/{type}" }}
                {{ /builder }}
            </div>            
        </div>
        {{ stack:scripts }}
        <script src="{{ mix src='/js/site.js' }}"></script>

        {{ partial:blocks/colors }}
    </body>    
</html>
