<div class="relative w-full">
    {{ site_config:main_background }}
    <div class="flex align-center items-center bg-cover w-full h-[55vh] portrait:h-[55vh] rounded-tl rounded-tr"
    style="background-image: url('{{ glide:url width="1680" }}'); background-position: {{ focus_css }}">
        <div class="flex align-center items-center mx-auto w-40 h-40 xl:w-48 xl:h-48 2xl:w-52 2xl:h-52 p-4 xl:p-8 bg-white bg-opacity-90 rounded-full">
            <img src="{{ site_config:logo }}" alt="{{ site_config:site_name }}" />
        </div>
    </div>
    {{ /site_config:main_background }}    
</div>