@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@import "flatpickr";

[x-cloak] { display: none !important; }

.lazy {
    opacity: 0;
    transition: opacity 0.25s ease-out;	
    &[data-ll-status="loaded"] {
        opacity: 1;
    }
}